*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	font-family: box;
}

@font-face{
	font-family: box;
	src:url(../fonts/YanoneKaffeesatz-Medium.ttf);
}

@font-face{
	font-family: box2;
	src:url(../fonts/MarckScript-Regular.ttf);
}

body{
	width: 100%;
	height: 100%;
}

.first{
	width: 100%;
	height: 100vh;
	background-position: center;
	box-sizing: cover;
	background-repeat: no-repeat;
	background-image: url(../img/img2.jpg)
}

.first_nav1{
	width: 100%; 
	height: 100px;
	background-color: rgb(37, 37, 37);
	box-shadow: 1px 0.5px 1px #ffdb58;
	padding-left: 1050px;
}

.first_nav1__general{
	width: 400px;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	align-items: center;
}

.first_nav1__fhone{
	width: 140px;
	height: 70px;
	margin-top: 18px;
}

.fhone_number{
	color: #ffdb58;
}

.fhone_text{
	padding-top: 6px;
}

.text_n{
	text-decoration: none;
	color: #d1d1d1;
}

.first_nav1__en{
	width: 70px;
	height: 45px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;

}

.nav1_rus{
	width: 75px;
	height: 45px;
	font-size: 20px;
	color: rgb(37, 37, 37);
	border-radius: 24px;
	font-family: box;
	background-color:  #ffdb58;
}

.nav1_button1{
	width: 170px;
	height: 45px;
	font-size: 20px;
	color: rgb(37, 37, 37);
	background-color: #ffdb58;
	border-radius: 24px;
}

.first_nav2{

}

.first_nav{
	width: 130px;
	height: 100vh;
	background-color: rgb(37, 37, 37);
}

.first_nav__logo{
	width: 130px;
	height: 130px;
	margin-top: -90px;
}

.nav_img{
	width: 80px;
	height: 65px;
	font-size: 40px;
	margin: auto;
}

.nav_img__logo{
	width: 80px;
}

.nav_text{
	width: 110px;
	height: 30px;
	font-family: box2;
	font-size: 25px;
	color: #ffdb58;
	margin: auto;
}



.first_nav__menu{
	width: 130px;
	height: 550px;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: space-around;
}

.nav_menu11{
	width: 130px;
	height: 50px;
	font-size: 22px;
	text-decoration: none;
	font-family: Helvetica;
	color: #fff;
	box-shadow: 1px 0.5px 0px #ffdb58;
	font-family: box;
	color: #ffdb58;
	padding-left: 40px;
}

.box{
	width: 130px;
	height: 53.7px;
	font-size: 21px;
	text-decoration: none;
	font-family: Helvetica;
	color: #fff;
	box-shadow: 1px 0.5px 0px #ffdb58;
	font-family: box;
	color: #ffdb58;
	padding-left: 10px;
	padding-top: 15px;
}

.second{
	width: 100%;
	height: 70vh;
	background-color: #303030;
	box-shadow: 1px 1px 1px 1.5px #ffdb58;
	align-items: space-between;
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.second_box1{
	width: 25%;
	height: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffdb58;
	border-radius: 40px;
}

.box1_img{
	width: 15%;
	height: 17%;
	background-color: #303030;
	display: flex;
	flex-wrap: wrap;
	border-radius: 30px;
	border: 5px solid #ffdb58;
}

.box1_img h1{
	margin: auto;
	color: #ffdb58;
}

.box1_h1{
 	width: 100%;
 	height: 12%;
 	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box1_h1 h1{
	font-size: 32px;
	color: #ffdb58;
}

.box1_p{
	width: 100%
 	height: 50%;
 	margin-bottom: 10px;
}

.box1_p p{
	font-size: 28px;
	color: #ffdb58;
}

.third{
	width: 100%;
	height: 200vh;
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	background-color: #f5f5dc;
}

.third_h1__h1{
	width: 100vw;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.third_h1__h1{
	font-size: 50px;
}

.third_box1{
	width: 47%;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	margin-left: 40px;
	/*border-radius: 30px;
	border: 3px solid #ffdb58;*/
}

.third_box1__img{
	width: 90%;
	height: 27%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 10px;
}

.img111{
	display: block;
}

.third_box1__img img{
	width: 120px;
}

.box1_img2{
	width: 9%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.box1_img2__im{
	width: 5%;
	height: 50%;
	display: block;
}

.third_obshiy{
	width: 90%;
	height: 64%;
	margin-left: 19px;
}

.third_obshiy h1{
	font-size: 200%;
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	margin-top: 25px;
	margin-bottom: 25px;
}

.p11{
	font-size: 150%;
}

.b11{
	width: 50%;
	height: 18%;
	background-color: #ffdb58;
	font-size: 140%;
	border-radius: 50px;
}

.third_box2__img{
	width: 90%;
	height: 27%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 10px;
}

.img1112{
	width: 	110px;
	height: 162px;
}

.third_box3__img{
	width: 90%;
	height: 27%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 10px;
}

.img1113{
	width: 	110px;
	height: 162px;
}

.third_box4__img{
	width: 37%;
	height: 27%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	margin-left: 10px;
}

.img1114{
	width: 	110px;
	height: 162px;
}

.fourth{
	width: 100%;
	height: 80vh;
	background-color: #303030;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
}

.fourth h1{
	font-size: 50px;
	margin-bottom: 50px;
	color: #d1d1d1;
}

.fourth_text{
	font-size: 150%;
	color: #d1d1d1;
}

.fifth{
	width: 100%;
	height: 250vh;
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	background-color: #f5f5dc;
}

.fifth_text{
	width: 100vw;
	height: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 28px;
}


.fifth_text__p{
	margin-top: 12px;
	font-size: 31px;
}

.fifth_boxes{
	width: 100%;
	height: 220vh;
/*	background-color: red;
*/	display: flex;
	flex-wrap: wrap;
}

.fifth_boxes__box1{
	width: 36%;
	height: 45%;
/*	background-color: blue;
*/	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 50px;
	margin-left: 140px;
}

.boxes_box1{
	width: 100%;
	height: 55%;
/*	background-color: red;
*/}

.boxes_box1 img{
	width: 100%;
	height: 100%;
}

.fifth_boxes__box1 h1{
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.boxes_box1__p{
	font-size: 27px;
}

.sixth{
	width: 100%;
	height: 100vh;
	background-color: #303030;
	display: flex;
	flex-wrap: wrap;
	color: #d1d1d1;
}

.sixth_box1{
	width: 50%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sixth_box1 img{
	width: 100%;
	height: 80%;
}

.sixth_box2{
	width: 50%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	flex-direction: column;
	padding-left: 60px;
	line-height: 1.5;
	padding-bottom: 20px;
}

.sixth_box2 h1{
	font-size: 54px;
	margin-bottom: 10px;
}

.sixth_box2 p{
	font-size: 30px;
	margin-bottom: 5px;
}

.sixth_box2 button{
	width: 200px;
	height: 50px;
	background-color: #ffdb58;
	border-radius: 40px;
	font-size: 23px;
	margin-top: 40px;
}

input{
	width: 80%;
	height: 50px;
	font-size: 20px;
	background-color: #303030;
}

.input_text{
	font-size: 10px;
	line-height: 2;
	display: flex;
}

.seventh{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.seventh_map{
	width: 100%;
	height: 80vh;
	background-color: red;
}

iframe{
	width: 100%;
	height: 80vh;
}

.seventh_footer{
	width: 100%;
	height: 20vh;
	background-color: rgb(37, 37, 37);
	color: #d1d1d1;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.footer_logo{
	width: 60%;
	height: 20vh;
	display: flex;
	flex-wrap: wrap;
}

.bbb{
	width: 30%;
	height: 20vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.footer_logo__h1{
	font-family: box2;
	color: #ffdb58;
}

.ggg{
	width: 70%;
	height: 20vh;
	padding-top: 50px;
	line-height: 1.3;
	padding-left: 50px;
}

.ggg p{
	font-size: 25px;
}

.ggg a{
	font-size: 23px;
}

.footer_tel{
	width: 40%;
	height: 10vh;
	font-size: 20px;
}
